{% extends 'home/base.html' %}
{% block title %}
{{hotel.hotel_name}}
{% endblock title %}

{% block css %}
<style>
    .list-group {
        list-style-type: disc !important;
    }
</style>
{% endblock css %}



{% block body %}
<div class=" container mt-4">

    <div id="carouselExampleControls" class="carousel slide w-75 m-auto" data-bs-ride="carousel">
        <div class="carousel-inner">

            {% for i in hotel.images.all %}

            <div class="carousel-item active">
                <img src="/media/{{i.images}}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="mt-4 mb-4  w-75 m-auto">
        <h1 class="fw-bold">{{hotel.hotel_name|title}}</h1>
        <h4 class="mt-2 mb-3">Rs. {{hotel.hotel_price}}</h4>
        {% for i in hotel.amenities.all %}

        <ul class="list-group ">
            <li class="list-group-item">{{i.amenity_name}}</li>
        </ul>
        {% endfor %}
        <div class="mt-4">
            <h3>Description</h3>
            <p>
                {{hotel.description}}
            </p>
        
            {% if request.user.is_authenticated %}
            <div class="card">

                <div class="card-body">
                    <form method='POST'>
                        {% csrf_token %}
                        <label for="startDate" class='mt-3'>
                            Check In
                        </label>
                        <input type="date" name="startDate" class="form-control" id="startDate" name="startDate" min={{date}} 
                        {% if startdate %}
                        value="{{startdate}}"
                        {% endif %}
                        >
                        <label for="endDate" class="mt-3">
                            Check Out
                        </label>
                        <input type="date" name="endDate" class="form-control" id="endDate" name="endDate" min={{date}}
                        {% if enddate %}
                        value="{{enddate}}" 
                        {% endif %}
                        >
                        <div class='d-grid'>

                            <button class="btn mt-3 btn-primary" type='submit'>
                                Book Now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="d-grid ">
                <a class="btn btn-primary" href="{% url 'signin' %}" type="button">Sign in to book hotel --> </a>
              </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock body %}